<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-button (click)="load()" >Reload</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item-group>
    <ion-item-divider color="light">XML</ion-item-divider>
    <ion-item *ngFor="let item of xmlItems">
      {{ item.title }}
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">CSV</ion-item-divider>
    <ion-item *ngFor="let item of csvItems">
      {{ item.title }}
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">TSV</ion-item-divider>
    <ion-item *ngFor="let item of tsvItems">
      {{ item.title }}
    </ion-item>
  </ion-item-group>

</ion-content>